.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.home-title {
  
}

.home-card-list {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px;
}

.home-card {
  border: thick solid black;
  width: 200px;
  height: 200px;
  margin: 5px;
  flex-wrap: wrap;
  align-content: center;
}

.home-card-list div.home-card:hover {
  background-color: #32a1ce;
}

.home-pokemon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-pokemon-name {
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
}

.pokemon-card {
  text-align: center;
  border: thick solid #32a1ce;
  width: 500px;
  display: block;
  margin: 0 auto;
}

.pokemon-card-name {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.pokemon-card-details {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.home-link {
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
}