.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: peru;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item{
  width: 8rem;
}
.card-text{
  font-size: small;
}

ul {
  list-style-type: none;
}


.card-columns {
  column-count: 7;
  column-gap: 1px;
}

.icons{
  color: lightseagreen;
}

.navbutton{
  margin-right: 5px;
}

.detail {

  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: peru;
}

.head{
  font-weight: bold;
  padding-right: 20px;
}
.val{
  font-style: oblique;
  text-align: left;
}
