.App { text-align: center; }

ul { 
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

li { margin-bottom: 20px; }

h1 { color: #8b66cc; }
h2 { margin: 0; }

a, a:visited { 
  display: block;
  border: 5px solid #40bfbf;
  padding: 10px;
  border-radius: 10px;
  color: #40bfbf;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #dd98b9;
  border-color: #dd98b9;
}

.CharacterPage a, .CharacterPage a:visited { 
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
}
