* { margin:0; }

h2 { display:inline-block; width:120px; }
li { list-style-type: none; }
ul.nav { height:50px; line-height:50px; background-color:hsl(271, 76%, 53%); padding:0; }
ul.nav li { display:inline-block; padding:0 20px; border-right:1px solid hsl(271, 76%, 28%); }
ul.nav li a { color:white; font-weight: bold; text-decoration: none; }

ul.pokéList { height:calc(100% - 100px); columns: 2; padding-left:0; }

.bottomNav { position: absolute; bottom:0; padding:auto; text-align:center; height:50px; width:100%; }
.bottomNav button { margin: auto; }