* { margin:0; }
ul { height:50px; line-height:50px; background-color:hsl(271, 76%, 53%); padding:0; }
li { display:inline-block; list-style-type: none; padding:0 20px; border-right:1px solid hsl(271, 76%, 28%); }
li a { color:white; font-weight: bold; text-decoration: none; }